@model TravelTripProje.Models.Siniflar.Blog
@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Blog Güncelle</h3>
<br />
@using (Html.BeginForm("BlogGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" ,@readonly="readonly"})
    <br />
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { rows = "15", cols = "70", @class = "form-control" })
    <br />
    <button class="btn pull-right btn-success">Blog Güncelle</button>
}

