@model TravelTripProje.Models.Siniflar.Yorumlar
@{
    ViewBag.Title = "YorumGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yorum Düzenle</h3>
<br />
@using (Html.BeginForm("YorumDuzenle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.KullaniciAdi)
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />   
    @Html.LabelFor(x => x.Yorum)
    @Html.TextAreaFor(x => x.Yorum, new { rows = "5", cols = "70", @class = "form-control" })
    <br />
    <button class="btn pull-right btn-success">Yorumu Düzenle</button>
}

